<div class="navbar w-full font-semibold bg-white flex py-4 z-10 items-center justify-between sticky top-0 left-0">
  <a href="/" class="logo w-14 m-0">
    <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png" class="w-full object-cover">
  </a>
  <ul class="navigation flex items-center text-base mx-2 p-0">
    <a href="/" class="py-2 px-4 rounded-full text-black hover:bg-black hover:text-white">Home</a>
    <!-- <a href="" class="py-2 px-4 rounded-full hover:bg-black hover:text-white">Explore</a> -->
    <a href="/create-page" class="py-2 px-4 rounded-full text-black hover:bg-black hover:text-white">Create</a>
  </ul>
  <div class="search-bar w-full font-normal text-lg flex items-center px-4 mx-4 gap-2 bg-gray-200 rounded-full py-3">
    <img src="/images/search.png" class="w-5 h-full object-cover">
    <input type="text" placeholder="Search" class="outline-none flex items-center bg-none bg-transparent">
  </div>
  <div class="nav-right">
    <div class="buttons flex text-sm items-center gap-4">
      <a href="/profile/created" class="ml-5 p-2 w-10 border-2 border-opacity-0 hover:border-opacity-100 border-fuchsia-950 aspect-square text-center rounded-full bg-fuchsia-600 hover:bg-fuchsia-700 flex items-center justify-center text-white uppercase"><%= user.fullname.charAt(0) %></a>
      <a href="/logout" class="bg-red-600 text-white px-5 py-3 h-fit flex items-center justify-center rounded-full whitespace-nowrap hover:bg-red-700">Logout</a>
    </div>
  </div>
</div>